photo/*
templates_c/*
photo/*.jpg
thumb/*
flvideo/*
video/*
include/htmlpurifier/HTMLPurifier/DefinitionCache/Serializer/HTML/*
.settings/*
.cache/*
.project
.buildpath
cache
tools/test/test_media/*
chimg/*
Thumbs.db
include/config.php
patch/*
cgi-bin/*
sitemap/*
