photo/*
templates_c/*
photo/*.jpg
thumb/*
flvideo/*
video/*
include/htmlpurifier/HTMLPurifier/DefinitionCache/Serializer/HTML/*
.settings/*
.cache/*
.project
cache
tools/test/test_media/*
sql_change/*
chimg/*
*/Thumbs.db
include/config.php

