.bg2
{
    background-color:#3a3a39;
}
div.section {
    border:1px solid #222321;
    color:#575757;
    font-size:11px;
    margin:0 0 0.8em;
    padding:0;
    color:#FFFFFF;
}
div.section div.hd {
    background-color:#222321;
    background-image: none;
    border-left:0px solid #0059B3;
    border-right:0px solid #0059B3;
}
.comment_head {
    background-color:#3a3a39;
    border-bottom:1px solid #222321;
    border-top:1px solid #222321;
}
.comment_body {
    color:#FFFFFF;
    margin:7px;
    text-align:left;
}
.comment-bg1 {
    background-color:#535352;
}
.comment-bg2{
    background-color:#000;
}
.user-info{
    color:#FFFFFF;
}
a {
    color:#f59b0d;
    text-decoration: none;
    font-weight: bold;
}
a:link {
    color:#f59b0d;
    text-decoration: none;
    font-weight: bold;
}
a:visited {
    text-decoration: none;
    color:#f59b0d;
}
a:hover {
    text-decoration: underline;
    color: #0066ff;
}
a:active {
    text-decoration: none;
    color: #003;
}