body {
    background-image:none;
    background-color:#d5d5d5;

}
div.user-profile {
    float: left;
    width: 100%;
    font-size:12px;
    margin:0px;
    padding:0px;
}
div.user-profile div.box1 {
    width:280px;
    float: left;
    margin:0px;
    padding:0px;
}
div.user-profile div.box2 {
    width:69%;
    margin-left:5px;
    float: right;
    padding:0px;
}
.user-info {
    color:#575757;
    margin:4px
}
ul#user-video,#user-friend {
    list-style: none;
    margin:0;
    padding:0;
}
ul#user-video li ,#user-friend li {
    float: left;
    width:140px;
    height:135px;
    margin:0px;
    padding:1px 10px 0px 10px;
    text-align:center;
}
ul#user-video li img,#user-friend li img{
    display:inline;
    margin:3px 0px 0 5px;
}
div.user-profile {
    float: left;
    width: 100%;
    font-size:12px;
    margin:0px;
    padding:0px;
}
div.user-profile div.box1 {
    width:30%;
    float: left;
    margin:0px;
    padding:0px;
}
div.user-profile div.box2 {
    width:69%;
    margin-left:5px;
    float: right;
    padding:0px;
}
.user-info {
    color:#575757;
    margin:4px
}
div.profile-comment {
    margin-bottom:2px;
    padding:1em;
}
div.profile-comment  div.box1 {
    float:left;
    width:130px;
}
div.profile-comment  div.box2 {
    float:right;
    width:480px;
}
div.profile-comment  div.box2  img.delete-botton {
    float:right;
    padding:4px;
}
div.profile-comment  div.box2  p.date {
    margin-top:0;
}
.comment-bg1 {
    background-color:#c2ccb1;
}
.comment-bg2{
    background-color:#d5e4ba;
}
div#no-user-comments {
    border: #ff9900 1px solid; 
    padding: 1em; 
    margin:1em; 
    background-color: #ffffcc; 
    text-align:center;
    color:black;
    font-weight: bolder;
}
#menu {
    width: 100%;
    margin-bottom: 2em;
}
#menu ul {
    font: bold 11px Arial;
    margin:0px;
    padding:0px;
    list-style: none;
}
#menu li {
    float: left;
    display: inline;
    background-color:#77b50b;
}
#menu a {
    display: block;
    font-size:10pt;
    color: #fff;
    margin: 0 1px 0 0;
    padding:12px 0;
    letter-spacing: 1px;
    width:119px;
    text-align:center;
    background-image:none;
    background-color:#7dbe0d;
}
#menu a:hover {
    color: #FFFF00;
    text-decoration:underline;
}
.bg2 {
    background-color:#d9e1cc;
}
div.section {
    border:0px solid #7DBE0D;
    color:#575757;
    font-size:11px;
    margin:0 0 0.8em;
    padding:0;
}
div.section div.hd {
    background-color:#7dbe0d;
    background-image: none;
    border-left:0px solid #0059B3;
    border-right:0px solid #0059B3;
}
.comment_head {
    background-color:#d9e1cc;
    border-bottom:1px solid #7dbe0d;
    border-top:1px solid #7dbe0d;
}
.comment_body {
    color:#000000;
    margin:7px;
    text-align:left;
}
.user-info{
    color:#000000;
}
.menu_footer {
    background-image:none;
    text-align: center;
    padding: 8px 0;
    margin: 1em 0;
    background-color:#7dbe0d;
}
.menu_footer a, .menu_footer a:visited {
    color: #ffffff;
}
.menu_footer a:hover {
    color: #ffff00;
}
