#menu {
    width: 100%;
    margin-bottom: 2em;
}
#menu ul {
    font: bold 11px Arial;
    margin:0px;
    padding:0px;
    list-style: none;
}
#menu li {
    float: left;
    display: inline;
    background-color:#e60505;
}
#menu a {
    display: block;
    font-size:10pt;
    color: #fff;
    margin: 0 1px 0 0;
    padding:12px 0;
    letter-spacing: 1px;
    width:119px;
    text-align:center;
    background-image:none;
    background-color:#ff0000;
}
#menu a:hover {
    color: #FFFF00;
    text-decoration:underline;
}
.bg2 {
    background-color:#FFDDDD;
}
div.section {
    border:0px;
    color:#575757;
    font-size:11px;
    margin:0 0 0.8em;
    padding:0;
}
div.section div.hd {
    background-color:#FF0000;
    background-image: none;
    border-left:0px solid #0059B3;
    border-right:0px solid #0059B3;
}
.comment_head {
    background-color:#FFDDDD;
    border-bottom:1px solid #FF0000;
    border-top:1px solid #FF0000;
}
.comment_body {
    color:#000000;
    margin:7px;
    text-align:left;
}
.comment-bg1 {
    background-color:#e6b6b6;
}
.comment-bg2{
    background-color:#d483a3;
}
.user-info{
    color:#000000;
}
.menu_footer {
    background-image:none;
    text-align: center;
    padding: 8px 0;
    margin: 1em 0;
    background-color:#ff0000;
}
.menu_footer a, .menu_footer a:visited {
    color: #ffffff;
}
.menu_footer a:hover {
    color: #ffff00;
}
