.links {
    margin: 10px 0;
    text-align: center;
    width: 650px;
}
.links a {
    display: inline-block;
    margin: 0 5px;
}
#message {
    background-color: #FFFFCC;
    border: 1px solid #FFCC05;
    border-radius: 5px 5px 5px 5px;
    color: #666666;
    display: inline-block;
    font-weight: bold;
    min-width: 600px;
    padding: 12px;
    text-align: center;
}
.video_section {
	display: inline-block;
    min-width: 643px;
}
.featured_videos {
    font-size: 16px;
    font-weight: bold;
    padding: 6px;
    text-align: left;
    vertical-align: top;
}
.video_box {
    padding: 8px 6px 6px;
    text-align: left;
}
.featured_video_box {
    display: inline-block;
    float: left;
    overflow: hidden;
    text-align: center;
    vertical-align: top;
    width: 157px;
}
.video_image {
    border:3px double #999999;
}
.featured_video_box_span {
    color: #999999;
    display: block;
    font-size: 11px;
    margin-left: 5px;
    text-align: left;
}
.featured_video_box_span img {
	width : 13px;
}