.video-entry .thumbnail {
	float: left;
	height: 100px;
	width: 300px;
}
.video-entry .video-details {
	float: left;
	width: 450px;
	overflow:hidden;
}
.video-entry .video-details p.imported {
	font-weight:bold;
	color: #009900;
}
.video-entry .check-box {
	float: left;
	width:20px;
}
.video-entry .check-box input, .video-entry .check-box img {
	margin-top:49px;
	margin-right:5px;
}
.video-entry {
	border-bottom:1px dashed #06C;
	padding:0.2em 0;
	float: left;
	clear: left;
    background-color:#ffffee;
}
.video-entry.imported {
	background-color: #9CF;
}

/* import_bulk.tpl */

form#bulk-import-search  div
{
    float:left;
    margin-bottom:1em;
    clear: both;
}

form#bulk-import-search  div input[type="checkbox",type="submit"]
{
clear:both;
margin-left: 200px;
}

form#bulk-import-search  div label.error {
    clear:right;
    display:none;
    margin-left: 200px;
    border: 1px solid #f00;
    padding:0.5em;
    padding-left:1em;
    width:180px;
    background:#FFCC99 url(../images/red-error.png) no-repeat scroll 5px 4px;
    text-indent:1.5em;
}

form#bulk-import-search  div  div.indent {
    margin-top:-1em;
}

form#bulk-import-search  div  div.indent p {
    margin:0;
    margin-bottom: 0.5em;
}

#bulk-import-search > div {
    margin-bottom:1em;
    width:400px;
}

div.video-details h2 {
    color:#3366ff;
    font-size:10pt;
}