/* user.tpl */

div.user-profile {
    float: left;
    width: 100%;
    font-size:12px;
    margin:0px;
    padding:0px;
}
div.user-profile div.box1 {
    width:280px;
    float: left;
    margin:0px;
    padding:0px;
}
div.user-profile div.box2 {
    width:69%;
    margin-left:5px;
    float: right;
    padding:0px;
}
div.user-profile div.box1 div.user-info {
    margin:4px
}
div.user-profile div.box1 .float-l{
    float:left;
    padding:3px
}
div.user-profile div.box1 .float-r{
    float:right;
    padding:3px
}

/* user_comment.tpl */

div.user-profile div.box2 #comm_result{
    border: #ff9900 1px solid;
    padding: 1em; 
    margin:1em; 
    background-color: #ffffcc;
    display: none; 
    text-align:center;
}
div.profile-comment {
    margin-bottom:2px;
    padding:1em;
}
div.profile-comment  div.box1 {
    float:left;
    width:130px;
}
div.profile-comment  div.box2 {
    float:right;
    width:480px;
}
div.profile-comment  div.box2  img.delete-botton {
    float:right;
    padding:4px;
}
div.profile-comment  div.box2  p.date {
    margin-top:0;
}
.comment-bg1 {
    background-color:#dddee0;
}
.comment-bg2{
//    background-color:#fff;
}
div#no-user-comments {
    border: #ff9900 1px solid; 
    padding: 1em; 
    margin:1em; 
    background-color: #ffffcc; 
    text-align:center;
    color:black;
    font-weight: bolder;
}