.pagination {
    margin: 0px !important;
}

A.navbar-brand img.brand {
    margin-top:-8px;
}

.footer {
    border-top: 1px solid #E5E5E5;
    color: #777777;
    padding-top: 19px;
    margin-top:1em;
}
